@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {   
    :focus-visible {
        @apply ring-4 ring-purple-200 outline-none
      }
      
    ::selection {
        @apply text-white bg-purple-300
    }

    html {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        
        @media (max-width: 640px) {
            font-size: 87.5%;
        }
    }

    ::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
        margin: 0;

        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;
    }

    ::-webkit-calendar-picker-indicator {
        display: none !important;
    }
    
  ::-webkit-scrollbar {
        width: 0.375rem;
      }

  ::-webkit-scrollbar-track {
        @apply bg-transparent
      }
   
  ::-webkit-scrollbar-thumb {
        @apply bg-purple-300 rounded-lg 
    }
    
  ::-webkit-scrollbar-thumb:hover {
        @apply bg-purple-500
    }
  
  

}